* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 2%;
}